body {
  background-image: linear-gradient(rgb(73, 58, 58));
  background-position: center;
  background-attachment: fixed;
}
.divbody {
  margin: 0;
  padding: 0;
}
nav {
 display: inline-block;
  margin-top: 20px;
  padding-left: 35%;
  padding-bottom: 5px;
}
.h3 {
  font-size: xx-large;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
  text-align: center;
  margin: auto;
  padding: auto;
}
ul {
  list-style-type: none;
  width: fit-content;
  margin: 0;
  padding: 0;
}
li {
  float: left;
}
li button {
  display: inline-block;
  padding: 5px 5px 5px;
  margin-right: 30px;
  border-radius: 5px;
  text-decoration: none;
  background-color: rgb(73, 58, 58);  
}
li button a {
  text-decoration: none;
  color: rgb(247, 240, 186);
}
li button:hover {
  background-color: brown;
}
li button:active {
  background-color: blue;
}
.div1 {
  background-image: url('image1.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: scroll;
  background-position: center;
  background-blend-mode: darken;
  box-sizing: border-box;
  width: 500px;
  height: 300px;
  margin: auto;
}
.h2 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 0;
  font-size: 3vw;
  font-weight: lighter;
  font-family: sans-serif;
  color: white;
}
.p1 {
  text-align: center;
  color: white;
  padding-top: 30px;
  padding-bottom: 20px;
}
.button1 {
  font-size: 15px;
  margin-left: 180px;
  padding: 10px 20px 10px;
  border-radius: 20px;
  border-style: none;
  color: white;
  background-color: rgb(231, 104, 0);
}
.New {
  padding-top: 50px;
  text-align: center;
  color: whitesmoke;
}
.div2 {
  width: 250px;
  height: 450px;
  background-color: white;
  border-radius: 5px;
  margin-left: 100px;
  margin-right: 20px;
  margin-bottom: 50px;
  display: inline-block;
  
}
.image2 {
  width: 220px;
  height: 320px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 20px;
  border-radius: 50px;
}
.shades {
  padding-left: 15px;
  padding-bottom: 5px;
  font-weight: bold;
}
.money {
  padding-left: 15px;
  padding-bottom: 10px;
  opacity: 0.5;
}
.button2 {
  width: 220px;
  margin-left: 15px;
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border-width: 0;
  background-color: rgb(199, 177, 177);
  cursor: pointer;
}
.button2 a {
  text-decoration: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.button2:hover {
  background-color: brown;
}
.button2:active {
  background-color: blue;
}
.div3 {
  background-color:rgb(199, 177, 177) ;
  width: 80%;
  height: 230px;
  margin: auto;
}
.p2 {
  font-size: 30px;
  font-style: oblique;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 0;
  font-weight: bold;
}
.button3 {
  font-size: 15px;
  font-weight: bold;
  margin-left: 45%;
  padding: 10px 20px 10px;
  border-radius: 20px;
  border-style: none;
  color: white;
  background-color: rgb(231, 104, 0);
}
.div4 {
  background-color: bisque;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
table th {
  padding-right: 70px;
  font-size: small;
  font-weight: bold;
}
td {
  font-size: 12px;
  color: rgb(131, 125, 118) ;
}
.email {
  width: 75%;
  padding: 5px 5px 5px;
  background-color:white ;
  border-style: none;
  border-radius: 2px;
  margin-right: 5px;
  margin-top: 20px;
  cursor: pointer;
}
.button4 {
  padding: 5px 5px 5px;
  font-size: x-small;
  font-weight: bold;
  border-style: none;
  border-radius: 2px;
  color: white;
  background-color: rgb(231, 104, 0);
  cursor: pointer;
}